* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* Header */
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 .15rem .5rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.125rem);
    z-index: 1;
}

.header-section h1 {
    color: #424242;
    text-shadow: .0625rem .0625rem .125rem white;
    cursor: pointer;
    transition: .3s;

    &:hover{
        font-size: 26px;
        transition: .3s;
    }
}

.header-section h1 a{
    text-decoration: none;
    color: #424242;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style-type: none;
}


li a {
    position: relative;
    text-decoration: none;
    color: #424242;
    font-weight: 600;

    &:hover{
        font-weight: 700;
    }
}

li a.active{
    font-weight: 700;
}

a.active::before {
    width: 100%;
}

li a::before {
    position: absolute;
    content: "";
    background-color: #424242;
    top: 1.5rem;
    left: 0;
    width: 0;
    height: .125rem;
    transition: .5s;
}

li a:hover::before {
    width: 100%;
}

/* Main */
.main-section {
    height: 100dvh;
    padding: 5rem 1rem 1rem 1rem;
    transition: .5s;
    background: rgb(250, 250, 250);
    color: white;
}

.main-section.me {
    /* background: aqua; */
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.me .wrapper {
    background: #424242;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .img {
    width: 30dvw;
    height: 30dvw;
    border-radius: 20rem;
    background: white;
    border: .125rem solid #424242;
    box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease;
}

.wrapper .img img {
    width: 100%;
    height: 100%;
    border-radius: 20rem;
}

.wrapper .text-holder{
    position: relative;
    width: 60dvw;
    height: 30dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper .text-holder::before{
    position: absolute;
    content: "";
    background-color: #424242;
    width: 0;
    right: 0;
    height: 70dvh;
    animation-name: left2right;
    animation-duration: 4s;
    animation-timing-function: ease;
    z-index: 1;
}

.wrapper .text-holder .text{
    width: 100%;
}

.wrapper .text h2{
    font-size: 60px;
    padding: .5rem 0;
}

.wrapper .text p{
    padding-top: .25rem;
    font-weight: 500;
}

.text-holder .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}


.text-holder .info .title{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 600;
}

.text-holder .info .divider{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 600;
}

.text-holder .info .info-txt{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: .5rem;
}

.text-holder .social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-holder .social-media .connect{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.25rem;
    border: 1px solid white;
    background: #424242;
    box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
}
.text-holder .social-media .connect i{
    font-size: 26px;
}
.social-media .links{
    display: flex;
    justify-content: right;
    gap: 1rem;
    width: 15rem;
    border-radius: 5rem;
    padding: 0 1rem;
    border: 1px solid #424242;
    background-color: white;
    box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
}
.social-media .links a{
    text-decoration: none;
    color: #424242;
}
.social-media .links a i{
    font-size: 40px;
    text-shadow: .125rem .125rem .0625rem rgba(0, 0, 0, 0.5);
}

@keyframes left2right{
    from {width: 100%;}
    to {width: 0;}
}

@keyframes slide{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}